@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.Header{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 75px;
    z-index: 100;
    font-family: 'poppins', sans-serif;
}
.Header .contactLink {
    text-decoration: none;
    color: #141c3a;
    cursor: pointer;
}
.HeaderAction{
    display: flex;
    margin: 15px 60px;
}
.HeaderAction h2{
    display: flex;
    margin: 10px;
    align-items: center;
    letter-spacing: 1.5px;
    font-size: 20px;
}
.HeaderAction .Resume{
    width: calc(3vw + 150px);
    height: 40px;
    border: 0;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #7E1DDC;
    color: aliceblue;
    align-items: center;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    margin-left: calc(1vw + 5px);
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
}
.HeaderAction .btn{
    display: flex;
    align-items: center;
}
.name{
    margin: 13px 70px;
    object-fit: cover;
}

@media only screen and (max-width: 650px) {
    .Header {
      flex-direction: column;
      justify-content: center;
      height: auto;
    }
    .Header .name{
        width: 20vw;
        margin: 7vw auto 0 auto;
    }
    .HeaderAction{
        flex-direction: column;
        margin-top: 3vw;
    }
    .HeaderAction h2{
        margin-top: 0;
    }
    .HeaderAction h2, .btn{
        justify-content: center;
    }
    .HeaderAction .btn .Resume{
        font-size: 0.9rem;
    }
  }